.col-2 {
  width: 50%;
  display: inline-block;
  padding: 10px;
}

.main-header {
	height: 40px;
  border-bottom: 2px solid #000000;	
}

.main-board {
	width: 90%;
	margin: 40px auto;
  padding: 10px;	
}

