#form-add-card {
  margin-top: 5px;
  margin-bottom: 15px;
}

.mod-card-desc {
  width: 100%;
  height: 75px;
  resize: none;
}

.mod-card-top-level {
  border: 1px solid rgba(171, 171, 171, 0.9);
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;

  .mod-card-show-title {
    background: rgba(122, 162, 162, 1);
    padding: 2px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
  }
  .mod-card-show-description {
    background: rgba(122, 162, 162, 0.5);
    padding: 6px;
    font-size: 12px;
    color: #ffffff;
  }

  .mod-card-show-meta {
    position: relative;
    background: rgba(162, 205, 205, 0.5);
    padding: 2px 10px;
    font-style: italic;

    span.mod-card-show-col {
      display: inline-block;
      width: 50%;
      font-size: 10px;
    }
    .mod-card-edit,
    .mod-card-delete {
      opacity: 0.5;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
  }
  .mod-card-actions {
    background: rgba(162, 205, 205, 0.1);
  }
}

#form-add-card .mod-card-users {
  height: 20px;
  font-size: 12px;
  margin-top: 5px;
}
