ul.mod-top-level-list {
  list-style: none;
  padding: 0;

	li.mod-list {
	  display: inline-block;
	  max-width: 250px;
	  overflow: auto;
	  width: 200px;
	  margin: 0 10px;
	  vertical-align: top;

	  .mod-list-item {
	    border: 1px solid rgba(171, 171, 171, 1);
	    border-radius: 5px;
	    padding: 10px;
	    background: rgba(201, 246, 246, 1);

	    .mod-list-title {
		    padding: 5px;
		    font-weight: bold;
		    background: rgba(206, 255, 255, 1);
		    border-radius: 5px;
        margin-bottom: 5px;

		    &:focus {
		    	background: #ffffff;
		    }
			}
      .mod-list-add-card {
        margin: 5px 0;
        font-size: 12px;
        background: rgba(206, 255, 255, 0.7);
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgba(171, 171, 171, 0.5);

        &:hover {
          cursor: pointer;
          background: rgba(206, 255, 255, 1);
        }
      }

      span.mod-list-delete {
        float: right;
        width: 20px;
        line-height: 1;
        opacity: 0.5;
        position: relative;
        top: 5px;

        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }
		}
	}
	.mod-list-add-label {
		padding: 10px;
    background: rgba(171, 171, 171, 0.9);
    color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    font-size: 14px;

    &:hover {
    	cursor: pointer;
    }
	}

	.mod-list-add-input {
    border: 1px solid rgba(171, 171, 171, 1);
    padding: 10px;
    background: rgba(171, 171, 171, 0.2);
    border-radius: 5px;
	}
}
