body {
	margin: 0;
	padding: 0;
	font-family: $base-font-family;
}

* {
	box-sizing: border-box;
}

h1 {
	font-size: $base-font-size + 4;
}

h2 {
	font-size: $base-font-size + 3;
}

h3 {
	font-size: $base-font-size + 2;
}

a {

}

a:hover {

}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

button.btn {
	width: 60px;
  margin: 5px 10px 0 0;
  height: 20px;
  border: 0;
  outline: 0;
  border-radius: 2px;
  font-size: 12px;
}

.btn-save {
	background: #123456;
	color: #ffffff;
}
.btn-cancel {
	background: #654321;
	color: #ffffff;
}

input[type="text"] {
	width: 100%;
	height: 28px;
	outline: 0;
	font-size: 16px;
	border: 0;
	border-bottom: 1px solid #ababab;
	padding: 5px;
	margin-bottom: 5px;
}
